body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0px 166px;
}

.header {
  background-image: url(./bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-line {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-right: 25px;
  transition: color 0.2s linear;
}

.nav-item:hover {
  color: #ff7400;
}

.cart {
  position: relative;
  border-right: 1px solid #fff;
  padding-right: 10px;
  height: 50px;
}

.cart-img {
  position: absolute;
  top: 18px;
  right: 15px;
}

.num {
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.2s linear;
}
.num:hover {
  color: #ff7400;
}

.phone-text {
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.phone-holder {
  display: flex;
  align-items: center;
}

.button {
  color: white;
  text-decoration: none;
  background-color: #ff7400;
  font-weight: 700;
  font-size: 14px;
  padding: 14px 19px;
  transition: background-color 0.2s linear;
}
.button:hover {
  background-color: #ffa55b;
}

.header-down {
  position: relative;
}

.header-title {
  color: #d67e35;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  position: absolute;
  left: 0;
  margin-top: 222px;
  margin-bottom: 21px;
}
.header-suptitle {
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.header-suptitle::after {
  position: absolute;
  content: '';
  background-color: white;
  height: 2px;
  width: 61px;
  top: 130px;
  left: 320px;
}
.header-suptitle::before {
  position: absolute;
  content: '';
  background-color: white;
  height: 2px;
  width: 61px;
  top: 130px;
  left: 70px;
}

.header-button {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  padding: 14px 21px;
  background-color: #ff7400;
  font-family: 'Open Sans', sans-serif;
  transition: background-color 0.2s linear;
}

.header-button:hover {
  background-color: #ffa55b;
  justify-content: center;
}
.card {
  box-shadow: 10px 10px 40px 20px #0000001a;
  width: 349px;
  margin-right: 31px;
  background-color: #fff;
  margin-top: -90px;
  padding: 8px 10px;
}
.card-holder {
  display: flex;
}

.card-image {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 26px;
  font-family: 'Tinos', serif;
}
.card-title span {
  color: #bc9060;
  margin-left: 14px;
}

.card-desc {
  font-family: 'Tinos', serif;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  color: #656363;
}

.history {
  margin-top: 166px;
  padding-bottom: 230px;
}

.history-title {
  width: 444px;
  text-align: center;
  font-weight: 400;
  font-size: 54px;
  font-family: 'Tinos', serif;
}
.history-title span {
  color: #d67e34;
}

.history-desc {
  width: 444px;
  margin-top: 21px;
  margin-bottom: 39px;
  font-size: 16px;
  color: #656363;
  text-align: center;
}

.history-number {
  width: 444px;
  display: flex;
  justify-content: center;
}
.number-item {
  color: #bc9060;
  width: 400px;
  margin-right: 40px;
  font-size: 40px;
  text-align: center;
}
.number-item span {
  color: black;
  font-size: 20px;
  display: block;
}

.history-holder {
  display: flex;
  justify-content: space-between;
}
.history-images {
  position: relative;
}

.images-3 {
  position: absolute;
  z-index: 0;
  top: -25px;
  left: -610px;
}
.images-2 {
  position: absolute;
  z-index: 997;
  top: 144px;
  left: -427px;
}
.images-1 {
  position: absolute;
  z-index: 998;
  top: -68px;
  left: -316px;
}

.black-box {
  background-image: url(./bg2.jpg);
  padding: 80px 0;
}

.left {
  color: white;
}
.left-title {
  color: #d67e34;
  font-weight: 400;
  font-size: 52px;
  font-family: 'Tinos', serif;
  margin-bottom: 20px;
}

.left-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.right-btn {
  color: white;
  text-decoration: none;
  background-color: #ff7400;
  font-weight: 700;
  font-size: 14px;
  padding: 14px 19px;
  transition: background-color 0.2s linear;
}

.block-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dishes-title {
  font-family: 'Tinos', serif;
  font-size: 54px;
  font-weight: 400;
  text-align: center;
  padding-top: 132px;
  margin-bottom: 139px;
}

.dishes-title span {
  color: #d67e34;
}

.burgers {
  display: flex;
  justify-content: center;
}
.burger-item {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}
.burger-image {
  margin-right: 20px;
}

.burgers-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-text {
  font-family: 'Tinos', serif;
  font-size: 26px;
  font-weight: 400;
  margin-left: 20px;
}

.menu {
  background-image: url(./menu-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.menu-title {
  color: #fff;
  font-family: 'Tinos', serif;
  font-size: 54px;
  text-align: center;
  padding-top: 98px;
  padding-bottom: 138px;
}

.menu-item {
  background-color: #fff;
  width: 33%;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 29px;
  margin-right: 30px;
}

.menu-img {
  border-radius: 50%;
  padding-bottom: 16px;
}
.menu-text {
  font-family: 'Tinos', serif;
  font-size: 26px;
  padding-bottom: 17px;
}
.menu-subtext {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 30px;
}

.menu-btn {
  color: white;
  text-decoration: none;
  background-color: #ff7400;
  font-weight: 700;
  font-size: 16px;
  padding: 14px 19px;
  box-shadow: 5px 5px 10px 0px #00000040;
  transition: background-color 0.2s linear;
}

.menu-button {
  margin-top: 20px;
}

.menu-items {
  display: flex;
  justify-content: center;
}

.price-img {
  position: absolute;
  bottom: 16px;
  right: 64px;
}
.menu-image {
  position: relative;
}
.prcie-420 {
  position: absolute;
  bottom: 45px;
  right: 90px;
  font-family: 'Cookie', cursive;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}

.comment {
  background-image: url(./menu-footer.png);
  text-align: center;
  padding-top: 104px;
  padding-bottom: 107px;
}
.comment-text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
}

.comment-img {
  border-radius: 50%;
  margin-bottom: 17px;
  margin-top: 17px;
}

.comment-type,
.comment-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 9px;
}

.galery-title {
  font-family: 'Tinos', serif;
  font-size: 54px;
  font-weight: 400;
  text-align: center;
  padding-top: 101px;
  padding-bottom: 60px;
}

.galery-title span {
  color: #d67e34;
}

.galery-content {
  display: flex;
  justify-content: center;
}
.galery-left {
  margin-right: 20px;
}
.galery-down,
.galery-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cook-title {
  font-family: 'Tinos', serif;
  font-size: 54px;
  font-weight: 400;
  text-align: center;
  padding-top: 101px;
  margin-bottom: 107px;
}

.cook-title span {
  color: #d67e34;
}

.cook-galery {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 30px 0px;
}
